body{
    /*overflow: hidden; /*hiding scroll bars*/
    margin: 0;
    font-family: "mulish", serif;
    overflow-y: auto;
    overflow-x: hidden;
}
.row{
    height: 100vh;
}
.container-fluid{
    margin: 0;
    padding: 0;
}



/* left column */
.compose-button{
    color: white;
    border: none;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 10px;
    width: 150px;

}
.chrome-icon{
    padding-right: 10px;
}
.email-left{
    background-color: #423e37;
    color: #c3c2c0;
    padding-left: 30px;
}
.inbox-options{
    line-height: 30px;
    padding-left: 10px;
}
.email-option-links{
    color: white;
}
a:hover{
    color:rgb(0, 0, 0);
}
.welcome{
    margin-top: 25px;
    font-size: 12px;
}



/*Middle column*/
.email-center{
    background-color: #f4f3ef;
    width: 100%;
}
.all-emails{
    font-size: 13px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.email-links{
    color: black;
}
.email-2{ background-color: #ffffff;
padding: 4px;
margin-top: 40px;
border-radius: 10px;
}
.email-top{

    margin-top: 20px;
}
.searchContainer {
    display: inline-flex;
    position: relative;
    border: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    margin-top: 50px;
  }
.searchIcon {
    padding: 0.5rem;
  }
  
.searchBox {
    border: 0;
    padding:5px;
    flex: 1;
  }
.sender{
      font-weight: bold;
      font-size: 15px;
    
  }
.spacing{
      margin-top: 40px;
  }




  /* Start of right column*/

.email-right{
    background-color: #ffffff;
    width: 100vw;
}
.address{
    font-size: 10px;
    padding: 15px;
}
.amazon-logo{
width: 80%;
max-width: 500px;
margin: 0;

}
.form-group{
    margin-top: 150px;
    border-radius: 10px;
    height: 170px;
    width: 80%;
}
#exampleFormControlTextarea1{
    height: 100%;
    border: 1px solid black;
}
.email-body{
    padding-left: 15px;
}
.email-title{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.email-options{
    margin-right: 20px;
    font-size: 20px;
}
.email-options, .fa{
    padding: 8px;
}
hr{
    border: 1px solid black;
    width: 90%;
}
.fa-paperclip{
    font-size: 30px;
}
.nav-icons{
    color: black;
}
.nav-icons:hover{
    color: gray;
}
.reply-box-icons{
    padding-left: 10%;
    padding-right: 10%;
}

.reply-box{
position: relative;
width: 100%;
height: auto;
}
